@import "../mixins/breakpoints.scss";
$numbers-list: (1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

.fill-width {
  width: 100% !important;
}
.fill-height {
  height: 100% !important;
}

@each $breakpoint in $breakpoint-list {
  $bp: nth($breakpoint, 1);

  @each $number in $numbers-list {
    .#{$bp}-#{$number} {
      @include breakpoint($bp) {
        width: (100% / 12) * $number !important;
      }
    }
  }
}
