@import "../mixins/breakpoints.scss";
$align-list: (left, right, center, justify, inherit);

@each $breakpoint in $breakpoint-list {
  $bp: nth($breakpoint, 1);

  @each $align in $align-list {
    p.text-#{$bp}-#{$align} {
      width: 100%;
      @include breakpoint($bp) {
        text-align: $align;
      }
    }
  }
}
